<a href="https://colab.research.google.com/github/busranur-sr/ruby/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [110]:
import pandas as pd
import numpy as np
import datetime
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px


from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

%matplotlib inline

In [111]:
df = pd.read_csv('out.csv')

df['Date']=df['Date'].str.split(expand=True)[0] # Date verisi object halindeydi. İçinde veri "1990 [YR1990]" bu şekilde bulunuyordu. İlk kısım çekildi.	
df=df.replace('..', np.nan) # Boş veriler .. şeklinde gösteriliyordu. Nan haline getirildi.
df=df.rename(columns={"CO2 emissions from liquid fuel consumption (kt)": "Liquid Co",  # Column isimlerinin düzenlenmesi
                      "CO2 emissions from gaseous fuel consumption (kt)" :"Gaseous Co",
                      "CO2 emissions from solid fuel consumption (kt)" : "Solid Co",
                      "CO2 emissions (kt)":"Total Co"})
s = df.drop('Country Name',1).select_dtypes(include='object').columns  # data type object-> float. Üzerinde işlem yapabilmek için 
df[s] = df[s].astype("float")
df=df.astype({'Date':'int16','Country Name':'str'})
df=df[df['Date']<2016] # Rest of years's data is empty

In [112]:
nan_count = df.isnull().sum()
drop_column = nan_count[nan_count<600]
display(drop_column)
df = df[drop_column.index]
df =df.dropna()
display(df)

Country Name                                                                                   0
Date                                                                                           0
Access to electricity (% of population)                                                      196
Agricultural land (% of land area)                                                            97
Agricultural land (sq. km)                                                                    91
Agriculture, forestry, and fishing, value added (% of GDP)                                   256
Arable land (% of land area)                                                                 116
CO2 emissions (kg per 2015 US$ of GDP)                                                       264
CO2 emissions (kg per 2017 PPP $ of GDP)                                                     294
CO2 emissions (kg per PPP $ of GDP)                                                          277
Total Co                                                                                     190
CO2 emissions (metric tons per capita)                                                       190
CO2 emissions from gaseous fuel consumption (% of total)                                     237
Gaseous Co                                                                                   189
CO2 emissions from liquid fuel consumption (% of total)                                      237
Liquid Co                                                                                    123
CO2 emissions from solid fuel consumption (% of total)                                       237
Solid Co                                                                                     233
Cereal yield (kg per hectare)                                                                299
Electricity production from coal sources (% of total)                                        564
Electricity production from hydroelectric sources (% of total)                               564
Electricity production from natural gas sources (% of total)                                 564
Electricity production from oil sources (% of total)                                         564
Electricity production from renewable sources, excluding hydroelectric (% of total)          564
Electricity production from renewable sources, excluding hydroelectric (kWh)                 557
Foreign direct investment, net inflows (% of GDP)                                            222
Forest area (% of land area)                                                                  38
Forest area (sq. km)                                                                          32
Methane emissions (kt of CO2 equivalent)                                                     192
Mortality rate, under-5 (per 1,000 live births)                                              175
Nitrous oxide emissions (thousand metric tons of CO2 equivalent)                             193
Other greenhouse gas emissions, HFC, PFC and SF6 (thousand metric tons of CO2 equivalent)    253
Population growth (annual %)                                                                  12
Population, total                                                                             11
Renewable electricity output (% of total electricity output)                                   7
Renewable energy consumption (% of total final energy consumption)                            51
Total greenhouse gas emissions (kt of CO2 equivalent)                                        193
Urban population                                                                              25
Urban population (% of total population)                                                      25
Urban population growth (annual %)                                                            26
dtype: int64

     Country Name  ...  Urban population growth (annual %)
37        Albania  ...                            0.742479
38        Albania  ...                            1.787784
39        Albania  ...                            1.848379
40        Albania  ...                            1.743639
41        Albania  ...                            1.646116
...           ...  ...                                 ...
3182     Zimbabwe  ...                            0.989668
3183     Zimbabwe  ...                            1.148333
3184     Zimbabwe  ...                            1.227943
3185     Zimbabwe  ...                            1.294326
3186     Zimbabwe  ...                            1.296922

[948 rows x 40 columns]

In [114]:
#drop for high corrrr
Y = df[['Total Co']]
df_corr =df.corr()['Total Co']
df_corr = df_corr[df_corr<0.91]
#df = df.drop(['Total greenhouse gas emissions (kt of CO2 equivalent)','Solid Co','Liquid Co','Gaseous Co'],axis = 1)
df= df[df_corr.index]
df

      Date  ...  Urban population growth (annual %)
37    2000  ...                            0.742479
38    2011  ...                            1.787784
39    2012  ...                            1.848379
40    2013  ...                            1.743639
41    2014  ...                            1.646116
...    ...  ...                                 ...
3182  2011  ...                            0.989668
3183  2012  ...                            1.148333
3184  2013  ...                            1.227943
3185  2014  ...                            1.294326
3186  2015  ...                            1.296922

[948 rows x 30 columns]

In [116]:
X = df

#Y = df[['Total Co']]
# Split X and y into X_
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size=0.20, random_state=1)
display(X_train)
display
# create a Linear Regression model object
regression_model = LinearRegression()

# pass through the X_train & y_train data set
regression_model.fit(X_train, y_train)

      Date  ...  Urban population growth (annual %)
893   2014  ...                            0.606901
2114  2011  ...                            1.690697
2943  2012  ...                            2.429055
2332  2013  ...                            2.109049
771   2012  ...                            2.854558
...    ...  ...                                 ...
2499  2012  ...                            3.720403
314   2011  ...                            2.288511
3052  2013  ...                            2.209723
795   2012  ...                            1.716651
171   2012  ...                            0.511948

[758 rows x 30 columns]

LinearRegression()

In [117]:
y_prediction =  regression_model.predict(X_test)
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
# predicting the accuracy score
score = r2_score(y_test,y_prediction)
score

0.9202881217071227